header {
    text-align: center;
}

header h1 {
    color: rgb(199, 168, 16);
}

.container {
    padding: 0px 90px;
    margin: 0px 85px;
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.7;
    letter-spacing: normal;
    font-size: 25px;
    margin-bottom: 60px;
    color: #444;
    text-align: justify;
}

.container2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-style: italic;
    font-weight: 100px;
}

.down {
    font-style: italic;
    color: gray;
    font-size: 16px;
}

.border {
    text-align: center;
}

.yellow {
    color: rgb(216, 117, 18);
    text-decoration: none;
}

.yellow a {
    color: rgb(216, 117, 18);
    text-decoration: none;
}

.table2 {
    border-collapse: collapse;
}

.table1 {
    border-collapse: collapse;
    border: 1px solid black;
}

td,
th {
    padding: 0px 5px 0px 5px;
}