.text {
    padding: 0px 90px;
    margin: 0px 85px;
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.7;
    letter-spacing: normal;
    font-size: 27px;
    margin-bottom: 60px;
    color: black;
}